MONGODB_URI=mongodb+srv://budjiangelo:cmHvAYLVGvg2KeHb@cluster0.fc2vy.mongodb.net/?retryWrites=true&w=majority
NEXTAUTH_SECRET=TuF1lfS+1V/RC2bIHmwKiBOEEdQAo/w7gOceM5qJKfM=
NEXTAUTH_URL=http://localhost:3000

supabasePassword=BS2L2PCAW1ZuD9Ia

BREVO_API=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